# Quarto
_site/
_book/
.quarto/
chapters/*_files/

# R
*.rdb
*.rdx
.Rhistory
.RData
.Rproj.user/

# renv
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/staging/

# OS / editor
.DS_Store
Thumbs.db
*~
.vscode/
.idea/

/.quarto/
**/*.quarto_ipynb
python/__pycache__/
